<h3>Topic</h3>
<%=@topic.name%>
<% @appointments.each do |appointment| %>
    <h4>Appointment</h4>
    <table>
      <tr>
        <th>Mentor: <%=appointment.mentor.full_name%> </th>
      </tr>
       <tr>
        <td>Date: <%=appointment.date%></td>
      </tr>
      <tr>
        <td>Start time: <%=appointment.start_time%></td>
      </tr>
      <tr>
        <td>End time: <%=appointment.end_time%></td>
      </tr>
      <tr>
        <td>Mentor phase: <%=appointment.mentor_phase%></td>
      </tr>
    </table>
<% end %>
