<h3>Topic: <%=@topic.name%></h3>
<% @appointments.each do |appointment| %>
    <div class="app-blurb">
      <table class="app-table">
      <tr>
        <th>Mentor: <%=appointment.mentor.full_name%> </th>
      </tr>
       <tr>
        <td>Date: <%=appointment.date%></td>
      </tr>
      <tr>
        <td>Start time: <%=appointment.start_time%></td>
      </tr>
      <tr>
        <td>End time: <%=appointment.end_time%></td>
      </tr>
      <tr>
        <td>Mentor phase: <%=appointment.mentor_phase%></td>
      </tr>
    </table>
  </div>
<% end %>
