  <div id="appointments">
  <h3>Booked Appointments</h3>
  <% @user.future_appointments.each do |appointment|%>
    <% if !appointment.open? %>
    <div class="app-blurb">
      <table class="app-table">
      <tr>
        <th>Mentor: <%=User.find_by(id: appointment.mentor_id).full_name%></th>
      </tr>
       <tr>
        <td>Date: <%=appointment.date%></td>
      </tr>
      <tr>
        <td>Start time: <%=appointment.start_time%></td>
      </tr>
      <tr>
        <td>End time: <%=appointment.end_time%></td>
      </tr>
      <tr>
        <td>Mentor phase: <%=appointment.mentor_phase%></td>
      </tr>
      <tr>
        <td>Student signed up: <%=User.find_by(id: appointment.student_id).full_name%></td>
      </tr>
      <tr>
        <td>Topic(s):</td>
        <% appointment.topics.each do |topic| %>
          <td class="topic"><%=link_to(topic.name, topic_path(topic))%></td>
        <% end %>
      </tr>
    </table>
  </div>
    <% end %>
  <%end%>


    <h3>Open Appointments</h3>
  <% @user.future_appointments.each do |appointment| %>
  <% if appointment.open? %>
  <div class="app-blurb">
    <table class="app-table">
      <tr>
        <th>Mentor: <%=User.find_by(id: appointment.mentor_id).full_name%></th>
      </tr>
       <tr>
        <td>Date: <%=appointment.date%></td>
      </tr>
      <tr>
        <td>Start time: <%=appointment.start_time%></td>
      </tr>
      <tr>
        <td>End time: <%=appointment.end_time%></td>
      </tr>
      <tr>
        <td>Mentor phase: <%=appointment.mentor_phase%></td>
      </tr>
        <tr>
          <td>Topic(s):</td>
        <% appointment.topics.each do |topic| %>
          <td class="topic"><%=link_to(topic.name, topic_path(topic))%></td>
        <% end %>
      </tr>
    </table>
  </div>
    <%end%>

<% end %>

<h3> Passed appointments</h3>
    <% @user.passed_appointments.each do |appointment| %>
    <div class="app-blurb">
      <table class="app-table">
      <tr>
        <th>Mentor: <%=User.find_by(id: appointment.mentor_id).full_name%></th>
      </tr>
       <tr>
        <td>Date: <%=appointment.date%></td>
      </tr>
      <tr>
        <td>Start time: <%=appointment.start_time%></td>
      </tr>
      <tr>
        <td>End time: <%=appointment.end_time%></td>
      </tr>
      <tr>
        <td>Mentor phase: <%=appointment.mentor_phase%></td>
      </tr>
      <tr>
        <td><%=link_to 'Leave Review', new_appointment_review_path(appointment) %></td>
      </tr>
      <tr>
        <td>Topic(s):</td>
        <% appointment.topics.each do |topic| %>
        <td class="topic"> <%=link_to(topic.name, topic_path(topic))%></td>
        <% end %>
      </tr>
    </table>
  </div>
    <%end%>
  </div>
