<% if current_user.type == "Mentor" %>
  <% @appointments.each do |appointment| %>
    <h4>Appointment</h4>
    <table>
      <tr>
        <th>Mentor: <%=appointment.mentor.full_name%> </th>
      </tr>
       <tr>
        <td>Date: <%=appointment.date%></td>
      </tr>
      <tr>
        <td>Start time: <%=appointment.start_time%></td>
      </tr>
      <tr>
        <td>End time: <%=appointment.end_time%></td>
      </tr>
      <tr>
        <td>Mentor phase: <%=appointment.mentor_phase%></td>
      </tr>
      <tr>
        <% appointment.topics.each do |topic| %>
          <td class="topic"><%=link_to(topic.name, topic_path(topic))%></td>
        <% end %>
      </tr>
    </table>
  <% end %>

<% else %>
    <% @appointments.each do |appointment| %>
    <% if appointment.open? %>
      <h4>Appointment</h4>
      <table>
        <tr>
          <th>Mentor: <%=appointment.mentor.full_name%> </th>
        </tr>
         <tr>
          <td>Date: <%=appointment.date%></td>
        </tr>
        <tr>
          <td>Start time: <%=appointment.start_time%></td>
        </tr>
        <tr>
          <td>End time: <%=appointment.end_time%></td>
        </tr>
        <tr>
          <td>Mentor phase: <%=appointment.mentor_phase%></td>
        </tr>
      </table>

      <%= form_for appointment do |f| %>
        <%= f.submit %>
      <%end%>


    <% end %>
  <% end %>
<% end %>
