<div id="all-appointments">
<% if current_user.type == "Mentor" %>
  <% @appointments.each do |appointment| %>
    <div class="app-blurb">
    <table class="app-table">
      <tr>
        <th>Mentor: <%=appointment.mentor.full_name%> </th>
      </tr>
       <tr>
        <td>Date: <%=appointment.date%></td>
      </tr>
      <tr>
        <td>Start time: <%=appointment.start_time%></td>
      </tr>
      <tr>
        <td>End time: <%=appointment.end_time%></td>
      </tr>
      <tr>
        <td>Mentor phase: <%=appointment.mentor_phase%></td>
      </tr>
       <tr>
        <td class="topic">Topic(s):
        <% appointment.topics.each do |topic| %>
         <%=link_to(topic.name, topic_path(topic))%>
        <% end %>
        </td>
      </tr>
    </table>
    </div>
  <% end %>

<% else %>
    <% @appointments.each do |appointment| %>
    <% if appointment.open? %>
      <div class="app-blurb">
      <table class="app-table">
        <tr>
          <th>Mentor: <%=appointment.mentor.full_name%> </th>
        </tr>
         <tr>
          <td>Date: <%=appointment.date%></td>
        </tr>
        <tr>
          <td>Start time: <%=appointment.start_time%></td>
        </tr>
        <tr>
          <td>End time: <%=appointment.end_time%></td>
        </tr>
        <tr>
          <td>Mentor phase: <%=appointment.mentor_phase%></td>
        </tr>
      </table>
      </div>

      <%= form_for appointment do |f| %>
        <%= f.submit %>
      <%end%>


    <% end %>
  <% end %>
<% end %>
</div>
