<div id="form">

<h3> Create an Appointment </h3>

<% if @appointment.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@appointment.errors.count, "error") %> prohibited
      this article from being saved:
    </h4>
    <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @appointment do |f| %>
  <p>
  <%= date_field("appointment", "date") %>
  </p>

  <p>
    Start Time: <%= f.time_select :start_time, {:ampm => true} %>
  </p>

  <p>
    End Time: <%= f.time_select :end_time, {:ampm => true} %>
  </p>

  <p>
    Mentor Phase:
    <select id="phase_dropdown" name="appointment[mentor_phase]">
      <option value="2" selected="selected">2</option>
      <option value="3">3</option>
    </select>
  </p>


  <p>
    Topics: <%= text_field_tag 'appointment[topics]' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
