<form  action="/appointments" method="post">
  <%= token_tag %>
  <label for="date">Date:</label>
  <input type="date" name="appointment[date]">
    </br>
  <label for="start_time">Start Time:</label>
  <input type="time" name="appointment[start_time]">
    </br>
  <label for="end_time">End Time:</label>
  <input type="time" name="appointment[end_time]">
    </br>
  <label for="end_time">Mentor Phase:</label>
  <input type="number" name="appointment[mentor_phase]">
    </br>
  <label for="end_time">Topic:</label>
  <input type="text" name="topic">
    </br>
  <input type="submit" value="Create Appointment">
    </br>
</form>

<!-- <h3> Create an Appointment </h3>
<%= simple_form_for @appointment do |f| %>
  <p>
    Date: <%= f.date_select :date %>
  </p>

  <p>
    Start Time: <%= f.time_select :start_time, {:ampm => true} %>
  </p>

  <p>
    End Time: <%= f.time_select :end_time, {:ampm => true} %>
  </p>

  <p>
    Mentor Phase: <%= f.number_field :mentor_phase %>
  </p>

  <p>

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %> -->
