<!DOCTYPE html>
<html>
<head>
  <title>Mentor Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/nav' %>
  <h1>Hi Mentor <%=current_user.username%>!</h1>
<%= yield %>

</body>
</html>